
nopainbutshame.xcodeproj/project.xcworkspace/xcuserdata/riza.xcuserdatad/UserInterfaceState.xcuserstate

nopainbutshame.xcodeproj/xcuserdata/riza.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

.DS_Store
